.subCards{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    border-radius: 2rem;
    color: white;
    z-index: 1;
    margin: 2rem;
    
}

.categories{
    display: flex;
    gap: 1rem;
    background-color: rgb(37, 37, 40);
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
}

.categories:hover{
    background: var(--planCard);
    z-index: 1;
    cursor:pointer;
}
.categories > :nth-last-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.categories>:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 10rem;
    height: 1rem;
    
    fill: #f48915;
}



.categories>:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories>:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories>:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.categories > .button{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    height: 2rem;
    align-items: center;
}
